body{
	margin: 0;
	padding: 0;
}
.div1{
	height: 620px;
	width: 550px;
	margin: auto;
	border:15px solid #bdc3c7 ;
}
.h1{
	margin-left: 15px;
		font-family:'Source Sans Pro', sans-serif;

}
h5{
    
	color:#3498db;
	font-family:'Source Sans Pro', sans-serif;
}
.div2{
	font-family:'Source Sans Pro', sans-serif;
	 font-size: 14px;
	border:5px solid #bdc3c7;
	border-bottom: none;
	border-right: none;
	border-top: none;
	margin-left: 15px;
	color: grey;
}
.div3{
	font-family:'Source Sans Pro', sans-serif;
     font-size: 14px;
	color: grey;
	margin-left: 15px;
}
